/*** 
====================================================================
  Table of contents
====================================================================

- [0. Reset and Set Defaults]
- [1. Body]
- [2. Wrapper]
- [3. Navigation]
- [4. Inline Wrapper]
- [5. Header]
- [6. main]
- [7. Container]
- [8. Form Elements] 
- [9. Accordion] 
- [10. Wizards] 
- [11. Tab Control] 
- [12. Popup] 
- [13. Lists] 
- [14. Search] 
- [15. Divider] 
- [16. Posts] 
- [17. Profile Page] 
- [18. Post Author Page] 
- [19. Gallery and Album] 
- [20. Contact] 
- [21. Product Pages] 
- [22. Panel] 
- [23. Bouble Menu]
- [24. Page Loader] 
- [25. Responsive Media Queries] 
- [26. Background Color Helpers] 
- [27. Text Helpers] 
- [28. Text Animations] 
- [29. CUSTOMIZE THE CAROUSEL] 
- [30. Home Tabs] 
- [31. Content Styles] 
- [32. Home Tabs]
- [33. Table]

***/

/*-------------------------------------------------------------------
[0. Reset and Set Defaults]
*------------------------------------------------------------------*/

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ccc;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
a{
	color: #333;
	text-decoration: none;
	font-weight: 700;
	outline: none;
}
a:hover{
	text-decoration: none !important;
}
body *{
	box-sizing: border-box;
}
input,button, select, textarea, label{
	font-family: Nunito;
	font-size: 14px;
	color: #929292;
	line-height: 1.4;
	font-weight: 600;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: #929292;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #929292;
}
:-moz-placeholder { /* Firefox 18- */
  color: #929292;
}
/*end of part 0----------------------------------------------------*/



/*-------------------------------------------------------------------
[1. Body]
*------------------------------------------------------------------*/
body{
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: Nunito, sans-serif;
	font-size: 14px;
	color: #4f4f67;
	line-height: 1.4;
	font-weight: 400;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
h1, h2 ,h3, h4, h5, h6{
	font-family: sans-serif
}
/*end of part 1----------------------------------------------------*/


/*-------------------------------------------------------------------
[2. Wrapper]
*------------------------------------------------------------------*/
.wrapper{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
	
}

/*end of part 2----------------------------------------------------*/



/*-------------------------------------------------------------------
[3. Navigation]
*------------------------------------------------------------------*/
.nav-menu{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
nav.menu.opened{
	left: 0;
}
nav.menu{
	position: absolute;
	left: -70%;
	top: 0;
	bottom: 0;
	width: 70%;
	background-color: #fff;
	-webkit-transition: left 200ms cubic-bezier(0.000, 0.655, 0.000, 1); /* older webkit */
-webkit-transition: left 200ms cubic-bezier(0.025, 0.685, 0.000, 0.990); 
   -moz-transition: left 200ms cubic-bezier(0.025, 0.685, 0.000, 0.990); 
     -o-transition: left 200ms cubic-bezier(0.025, 0.685, 0.000, 0.990); 
        transition: left 200ms cubic-bezier(0.025, 0.685, 0.000, 0.990); /* custom */
}
.image-round{
	width: 100px;
	height: 100px;
}
nav.menu .nav-header span{
	display: block;
	color: #fff;
	font-weight: normal;
}

nav.menu .nav-header a{
	color: #2eb18d;
}

nav.menu .nav-header{
	height: 170px;
	text-align: center;
	padding: 10px 0;
	background:url("../img/avatar-bg.jpg") no-repeat right;
}

nav .nav-container{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 170px;
	overflow: auto;
}

nav.menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav.menu ul li{
	display: block;
	width: 100%;
}
nav.menu ul.main-menu > li.active{
	background-color: #f5f5f5;
}

nav.menu ul.main-menu > li.active > ul{
	display: block;
}

nav.menu ul.main-menu > li ul li.active{
	background-color: rgba(0,0,0,0.2);
}

nav.menu ul.main-menu>li>a{
	display: block;
	color: #4c4b4b;
	padding: 12px 12px;
	font-weight: normal;
}

nav.menu ul.main-menu > li.active i{
	color: #2eb18d !important;
}

nav.menu ul.main-menu>li>a>i{
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #777777;
}
nav.menu ul.main-menu>li>a>img{
	width: 20px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 5px;
}
nav.menu ul.main-menu>li>a>span{
	display: inline-block;
	float: right;
	opacity: 0.5;
}
nav.menu ul.main-menu>li ul{
	display: none;
}
nav.menu ul.main-menu>li li a{
	display: block;
	color: #4c4b4b;
	padding: 8px 20px 8px 48px;
	font-weight: 400;
}
/*end of part 3----------------------------------------------------*/



/*-------------------------------------------------------------------
[4. Inline Wrapper]
*------------------------------------------------------------------*/
.wrapper-inline{
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
	background-color: #fff;
	/* background: url(../img/web-banner-yellow.jpg); */
	overflow: auto;
}
.wrapper.with-bg-image .wrapper-inline{
	background-color: rgba(255,255,255,0.9);
}
/*end of part 4----------------------------------------------------*/



/*-------------------------------------------------------------------
[5. Header]
*------------------------------------------------------------------*/
.banner-div{
	background: url(../img/sapi-qurban.jpg) center no-repeat;
	background-size: cover;
	margin-top: 70px;
	border-radius: 15px
}
.banner-content{
	max-width: 60%;
	padding: 25px 15px
}
.banner-head{
	margin-top: 0;
	font-size: 16px;
	text-align: center;
	font-weight: 700;
	color: #f6f7f8 
}
.banner-head-login{
	margin-top: 0;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	color: #1d45bd
}
.c-btn{
	padding: 8px 15px;
    background: #ff7854;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

.section-head{
	display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px
}
.section-head .title-main{
	margin: 0;
    font-size: 16px;
    color: #0a380a;
    flex: 8
}
.section-head .c-btn{
	flex: 1
}
.col-3{
	width: 31%;
	float: left;
}
.col-2{
	width: 48%;
	float: left;
}
.col-3.center-item{margin:0 3%;}
.purpule-bg{background: #a5aaec}
.pink-bg{background: #61ebf0 !important}
.orange-bg{background: #5a949e}
.blue-bg{background: #73bcec}
.grey-bg{background: #73d7e9}
.dark-blue-bg{background: #9bbbfc}
.red-bg{background: #6db4ee}
.yellow-bg{background: #9aafcf}
.s1-bg{background: #fee2de}
.s2-bg{background: #feddee}
.s3-bg{background: #dad5fe}
.s4-bg{background: #dbffd9}
.s5-bg{background: #f7f7ff !important}
.creamy-bg{
	background: linear-gradient(to left,#6a6f8c, #6a6f8c)
}
.creamy-bg-welcome{
	background: linear-gradient(to left,#6394d4, #6394d4)
}
.creamy-bg-forgot{
	background: linear-gradient(to left,#265aca, #265aca)
}
.creamy-bg-change{
	background: linear-gradient(to left,#2470ad, #2470ad)
}
.provide-item{
	padding: 20px 10px;
    border-radius: 10px;
}
.has-border{
	border: 2px solid #2eb18d !important
}
.provide-item img{
	max-width: 60px;
    margin-bottom: 10px;
}
.provide-item img.cat{
	max-width: 140px
}
.provide-item h4{
margin-bottom: 0;
margin-top: 0
}
.provide-item p{
	margin-top: 10px
}
.covid-img{
	max-width: 140px;
	margin-bottom: 15px
}
.text-center{text-align: center;}
.mt-30{margin-top: 30px !important}
.mb-15{margin-bottom: 15px !important}
.mt-0{margin-top: 0px !important}
.mb-0{margin-bottom: 0px  !important}
.mb-01{text-size-adjust: 9px !important}
.mr-2{margin-right: 2%}
.ml-2{margin-left: 2%}
.w-text{color: #fff !important}
.b-text{color: #13287e !important}
.h-text{color: rgb(15, 15, 15) !important}
.mt-10{margin-top: -80px !important}


.inst-card{
	background: #0f4198;
    padding: 30px 15px;
    border-radius: 15px;
}
.inst-card.v2{
	background: #f7f7ff;
	margin-bottom: 15px
}
.inst-item{
	position: relative;
}
.inst-img-wrapper{
	position: absolute;
	top: -10px
}
.inst-img-wrapper.v2{
	margin-top: -5px
}
.inst-img-wrapper img{
	max-width: 120px
}
.inst-info{
	padding-left: 140px
}
.inst-info .instname{
	margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}
.inst-card.v2 .inst-info .instname{
	color: #13287e
}
.inst-info p{
	font-size: 16px;
    margin-top: 0;
    color: #e2e9ef;
    font-weight: normal;
}
.inst-card.v2 .inst-info p{
	color: #1d68ab
}
.inst-details span{
	padding-right: 15px;
    color: #fff;
    font-weight: 600
}
.inst-card.v2 .inst-details span{color: #13287e}
.inst-details span:last-of-type{
	padding-right: 0
}
.inst-info span i{
	margin-right: 5px
}
.mb-25{margin-bottom: 25px}
.symptoms-item{
	display: block;
    width: 48%;
    padding: 10px;
    background: #fff;
    float: left;
    border: 2px solid #2eb18d;
    border-radius: 5px;
}
.symptoms-item h4{margin:0;margin-top: 10px;}
.symptoms-item p{margin-bottom: 0px;margin-top: 5px}

header {
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to left, #4f9e4f 0%, #4f9e4f 100%);
	height: 50px;
	border-bottom:solid 1px #EEE;
	padding: 10px;

}

header.no-background{
	background-color: transparent;
	border-bottom: none;
	color: #FFF;
	-webkit-transition: background-color .3s ease-in-out;
	  -moz-transition: background-color .3s ease-in-out;
	    -o-transition: background-color .3s ease-in-out;
	      transition: background-color .3s ease-in-out;
}
header.no-background a{
	color: #FFF;
}
header.no-background .navi-menu-button em{
	background: #FFF;
}

header.set-bg{
	background-color: #FFF;
	border-bottom:solid 1px #EEE;
	color: #464646;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
header.set-bg a{
	color: #464646;
}
header.set-bg .navi-menu-button em{
	background: #fff;
}

header .go-back-link{
	width: 30px;
    height: 30px;
    background: rgba(255,255,255,.4);
    display: inline-block;
    line-height: 30px;
    text-align: center;
    float: center;
	margin-left: 0px;
    color: rgb(247, 242, 242);
    border-radius: 6px;
}
header .page-title{
	font-size: 16px;
	position: absolute;
	left: 50px;
	right: 50px;
	top: 10px;
	margin: 0;
	color:rgb(247, 242, 242);
	padding: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}
header.with-search-icon .page-title{
	left: 80px;
	right: 50px;
}
.navi-menu-button{
	width: 30px;
	height: 30px;
	float: right;
	position: relative;
	cursor: pointer;
}
.navi-menu-button em{
	width: 24px;
	height: 2px;
	background-color: rgb(247, 242, 242);
	display: block;
	position: absolute;
	border-radius: 30px;
	right: 0;

	-webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.navi-menu-button em:nth-child(1){
	top: 7px;
	width: 20px;
}
.navi-menu-button em:nth-child(2){
	top: 14px;
}
.navi-menu-button em:nth-child(3){
	top: 21px;
	width: 20px;
}

.navi-menu-button.focused em:nth-child(1){
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 14px;
}
.navi-menu-button.focused em:nth-child(2){
	width: 0;
}
.navi-menu-button.focused em:nth-child(3){
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 14px;
}
/*end of part 5----------------------------------------------------*/



/*-------------------------------------------------------------------
[6. Main]
*------------------------------------------------------------------*/
main{
	margin-top: 60px;
}
main.no-margin{
	margin-top: 0;
}
main.fix-top-menu{
	margin-top: 50px;
}
main.no-margin .container{
	padding: 0;
}
main.no-header .TurboWrapper{
	top: 0;
}
/*end of part 6----------------------------------------------------*/



/*-------------------------------------------------------------------
[7. Container]
*------------------------------------------------------------------*/
section.container{
	padding: 0 10px;
}
div.container{
	padding: 0 10px;
}
/*end of part 7----------------------------------------------------*/



/*-------------------------------------------------------------------
[8. Form Elements]
*------------------------------------------------------------------*/
.form-row{
	display: block;
	width: 100%;
	padding: 5px 0;
	position: relative;
}
.form-row.no-padding{
	padding: 0;
	/* border:solid 1px #272626; */
}
.form-row-group{
	border-radius: 3px;
	background-color: #FFF;
	border:solid 1px #f2f2f2;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}
.form-row-group .form-row{
	padding: 0 10px;
}
.form-row-group.with-icons .form-row i{
	position: absolute;
	line-height: 40px;
	width: 24px;
}
.form-row-group.with-icons .form-row .form-element{
	padding-left: 24px;
}
.form-element{
	display: block;
	width: 100%;
	border:none;
	border-bottom: solid 1px #EEE;
	height: 40px;
	outline: none;
	line-height: 40px;
	background-color: #FFF;
	
}
select.form-element{
	-webkit-appearance: none;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/up-down.svg);
    background-position : right center;
    background-repeat: no-repeat;
    padding-right: 1.5em;
    border-color:transparent;
    border-bottom: solid 1px #EEE;
}

.error{
	color: #cc0c35;
}
.error .form-element{
	border-color: #cc0c35 !important;
	color: #cc0c35;
}
textarea.form-element{
	resize: none;
	line-height: 1.4;
	padding: 10px 0;
	min-height: 80px;
}
select.form-element{
	padding: 0;
	margin-left: -4px;
}
.form-element:focus{
	border-color: #2eb18d;
}

.button{
	padding: 5px 10px;
	background-color: #FFF;
	border:none;
	border-radius: 3px;
	text-align: center;
	font-weight: 600;
	outline: none;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}
.button.circle{
	border-radius: 5px;
}
.button.block{
	display: block;
	width: 100%;
}
.button:hover, .button:active, .button:focus{
	background-color: #f9f9f9;
}
.button.darkblue{
	background-color: #2C6EBC;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.orange{
	background-color: #2eb18d;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.blue{
	background-color: #3e7ab7;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.yellow{
	background-color: #ebad4d;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.red{
	background-color: #d3514b;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
}
.button-warning {
	color: #FFF;
	background-color: #F0AD4E;
	border-color: #EEA236;
}
.button-danger {
	color: #FFF;
	background-color: #D9534F;
	border-color: #D43F3A;
}
.button.green{
	background-color: #00b894;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.navy{
	background-color: #030e6b;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.green.leaf{
	background-color: #012b9e;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.login{
	background-color: #23252e;
	color: #FFF;
	border-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button.green:hover{
	background-color: #020310
}
.sweet-check{
	height: 30px;
	width: 60px;
	cursor: pointer;
	border-radius: 30px;
	border:solid 1px #eee;
	display: inline-block;
	position: relative;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-transition: background-color 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: background-color 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: background-color 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: background-color 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.sweet-check input{
	opacity: 0;
	position: absolute;
}

.sweet-check .outline{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	display: block;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	background-color: #FFF;
	position: absolute;
	left: 0;
	-webkit-transition: left 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: left 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: left 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: left 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.sweet-check.checked{
	background-color: #60B2FE;
	border-color: #60B2FE;
}
.sweet-check.checked .outline{
	left: 30px;
}

.enterance .form-row-group{
	background-color: transparent;
    border: solid 1px transparent;
}
.enterance input,
.enterance textarea, 
.enterance label{color: #fff}
.enterance a{color: #10f3b4}
.enterance .form-row-group .form-row {
    padding: 0 10px;
    margin-bottom: 20px;
}
.enterance .form-row-group.with-icons .form-row i {
    font-size: 20px;
    color: #fff;
}
.enterance .form-element{
	background: transparent;
	border-color: rgba(255,255,255,.2)
}
.centered{
	width: 100%;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}
/*end of part 8----------------------------------------------------*/




/*-------------------------------------------------------------------
[9. Accordion]
*------------------------------------------------------------------*/
.splash-screen{
	position: relative;
	background: url("../img/bg.png") no-repeat center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.get-started-btn{
	display: block;
	padding: 15px 20px;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	background-color: #1345eb;
    color: #fff !important;
}

.get-started-btn-login{
	display: block;
	padding: 15px 20px;
	font-size: 16px;
	text-align: center;
	border-radius: 10px;
	background-color: #0714d1;
    color: #fff !important;
}

.get-started-pesantren{
	display: block;
	padding: 15px 20px;
	font-size: 25px;
	text-align: center;
	border-radius: 10px;
	background-color: #eea41c;
    color: #020310 !important;
}

.g-fixed-pesantren{
	position: absolute;
  	bottom: 250px;
	width: 80%;
	height: 50%;
	transform: translateX(-50%);
	left: 50%;
}

.g-fixed{
	position: absolute;
	bottom: 50px;
	width: 80%;
	transform: translateX(-50%);
	left: 50%;
}

.get-started-btn:hover{
	background-color: #020310
}
.expandable-item{
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 1px;
}
.expandable-header{
	background-color: #FFF;
	padding: 15px;
	position: relative;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
	cursor: pointer;
}
.expandable-header .list-icon{
	font-size: 18px;
	display: inline-block;
	width: 24px;
}
.expandable-header .product-icon{
	max-width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.expandable-header .product-icon img{max-width: 50px}
.expandable-header .list-title{
	font-size: 16px;
	line-height: 18px;
	padding-left: 70px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.expandable-header .list-item-extra{
	position: absolute;
	right: 40px;
	top: 17px;
	font-size: 12px;
}
.expandable-header .list-arrow{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 20px;
}
.expandable-content{
	border:solid 1px transparent;
	border-top: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height .2s linear;
	  -moz-transition: max-height .2s linear;
	    -o-transition: max-height .2s linear;
	      transition: max-height .2s linear;
}
.expandable-content .padding-content{
	padding: 15px;
}
.expandable-item.active .expandable-content{
	border-color:#EEE;
	max-height: 200px;
}
.expandable-item.active .list-arrow:before{
	content: "\f106";
}
/*end of part 9----------------------------------------------------*/



/*-------------------------------------------------------------------
[10. Wizard]
*------------------------------------------------------------------*/
.wizard{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.wizard .wizard-item{
	position: relative;
}
.wizard .wizard-content{
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 60px;
	overflow: hidden;
	text-align: center;
}

.wizard-page .TurboWrapper{
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

.wizard-page .slider-navigation{
	position: absolute;
	z-index: 99;
	bottom: 10px;
	left: 20px;
	right: 20px;
}
.wizard-skip-link{
	position: absolute;
	z-index: 99;
	bottom: 10px;
	right: 20px;
	height: 33px;
	line-height: 33px;
	font-weight: 400;
	cursor: pointer;
	font-size: 14px;
}
.wizard-skip-link:hover{
	color: #069;
}
.dotClass{
	background-color: #DDD;
	margin: 5px 3px;
	width: 20px;
	height: 6px;
}
/*end of part 10----------------------------------------------------*/



/*-------------------------------------------------------------------
[11. Tab Control]
*------------------------------------------------------------------*/
.tab-item .fix-width .menu-item{
	display: block;
	float: left;
	text-align: center;
}
.tab-item .tab-content .content-item{
	display: none;
}
.tab-item .tab-content .active{
	display: block;
}
.tab-item .tab-menu{
	background-color: #FFF;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	z-index: 99;
}
.tab-item .menu-item{
	line-height: 40px;
}
.tab-item .menu-item.active{
	border-bottom: solid 2px #2eb18d;
	color: #2eb18d;
}
.tab-item .tab-content{
	padding: 10px;
}
.tab-item.fixed-bottom .tab-menu{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.2);
}
.tab-item.fixed-bottom .menu-item.active{
	border-bottom:none;
	border-top: solid 2px #2eb18d;
	background-color: rgba(0,0,0,0.05);
}
.tab-item.fixed-bottom .tab-menu.only-icons .menu-item{
	font-size: 18px;
}
.tab-item.fixed-bottom .tab-content{
	padding-bottom: 50px;
}
/*end of part 11----------------------------------------------------*/



/*-------------------------------------------------------------------
[12. Popup]
*------------------------------------------------------------------*/
.popup-overlay{
	position: fixed;
	z-index: 900;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: auto;
	padding: 20px;
	display: none;
	cursor: pointer;
}
.popup-overlay.no-overlay{
	background-color: transparent;
}
.popup-overlay .popup-container{
	overflow: hidden;
	background-color: #FFF;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.popup-overlay .popup-header{
	border-bottom: solid 1px #EEE;
	background-color: #f4f4f4;
	padding: 10px;
	position: relative;
}
.popup-overlay .popup-title{
	margin: 0;
	padding: 0;
	padding-right: 40px;
}
.popup-overlay .popup-close{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}
.popup-overlay .popup-content{
	padding: 10px;
	min-height: 50px;
}
.popup-overlay .popup-footer{
	border-top:solid 1px #EEE;
	padding: 10px;
	text-align: right;
}
/*end of part 12----------------------------------------------------*/



/*-------------------------------------------------------------------
[13. Lists]
*------------------------------------------------------------------*/
.list-box{
	width: 100%;
}
.list-box .list-item{
	padding: 15px;
	background-color: #FFF;
	display: block;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	overflow: hidden;
}
.list-box .list-item .sweet-check{
	float: right;
}
.list-box a.list-item:hover, .list-box a.list-item:focus{
	background-color: #f5f6f8 !important;
}
.list-box a.list-item:hover i, .list-box a.list-item:focus i{
	color: #585858 !important;
}
.list-box .list-item i{
	font-size: 20px;
	display: inline-block;
	line-height: 28px;
	color: #797979;
	float:left;
	width: 36px;
}

.list-box .list-item .list-item-title{
	font-weight: 700;
	display: inline-block;
	line-height: 28px;
	float: left;
	font-size: 16px;
}
.list-box .list-item .seperate{
	display: inline-block;
	float: left;
	width: 1px;
	height: 30px;
	background-color: #EEE;
	margin-right: 10px;
}
.list-box.half-box{
	width: 50%;
	float: left;
}
.list-box.half-box .list-item{
	padding: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.list-box.half-box:nth-child(odd) .list-item{
	margin-right: 5px;
}
.list-box.half-box:nth-child(even) .list-item{
	margin-left: 5px;
}
.list-box.half-box .list-item i{
	font-size: 36px;
	float: none;
}

.list-box.half-box .list-item .list-item-title{
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
}
/*end of part 13----------------------------------------------------*/



/*-------------------------------------------------------------------
[14. Search]
*------------------------------------------------------------------*/
.search-button{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	float: left;
}
.clear{
	clear: both;
}
.search-form{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(255,255,255,0.9);
	overflow: auto;
	display: none;
}
.search-form .search-input{
	margin: 70px 20px 40px 20px;
	position: relative;
}
.search-form .form-element{
	border:solid 1px #EEE;
	padding: 0 10px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	border-bottom-width: 2px;
}
.search-form .form-element:focus{
	border-bottom-color: #2eb18d;
	
}
.search-form .search-input-btn{
	position: absolute;
	width: 37px;
	height: 37px;
	right: 1px;
	top: 1px;
	background-color: #FFF;
	border:none;
	line-height: 37px;
	text-align: center;
}
.search-form .search-input-btn:hover, .search-form .search-input-btn:focus{
	color: #2eb18d;
}
.search-form .recent-search, .search-form .popular-search {
	padding: 0 20px;
	margin-bottom: 20px;
}
.search-form .search-tag{
	display: inline-block;
	padding: 4px 12px;
	background-color: #FFF;
	border:solid 1px #DDD;
	font-weight: 400;
	border-radius: 15px;
	margin:0 5px 5px 0;
}
.search-form .search-tag:hover, .search-form .search-tag:focus{
	border-color: #2eb18d;
	color: #2eb18d;
}
.search-form .search-group-title{
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
}
.search-form .close-search-form{
	position: absolute;
	right: 20px;
	top: 20px;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:solid 1px #ccc;
	border-radius: 3px;
	cursor: pointer;
}
.search-form .close-search-form:focus, .search-form .close-search-form:hover{
	background-color: #6de3c2;
	color: #FFF;
}
.search-result-header{
	background-color: #FFF;
	margin: -10px -10px 10px -10px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	position: relative;
}
.search-result-header.fix-searchbar{
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	padding: 0 10px;
	z-index: 100;
}
.search-result-header.fix-searchbar + .search-result-container{
	padding-top: 30px;
}
.search-result-header .form-element{
	padding: 0 10px;
}
.search-result-header.fix-searchbar .search-result-btn{
	right: 10px;
}
.search-result-header .search-result-btn{
	position: absolute;
	right: 0;
	top: 0;
	height: 38px;
	width: 38px;
	border:none;
	background-color: #FFF;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}
.search-result-header .search-result-btn:focus, .search-result-header .search-result-btn:hover{
	color: #2eb18d;
}
/*end of part 14----------------------------------------------------*/



/*-------------------------------------------------------------------
[15. Divider]
*------------------------------------------------------------------*/
.form-divider{
	display: block;
	width: 100%;
	clear: both;
	height: 10px;
	margin: 10px 0;
}
.form-divider-space{
	display: block;
	width: 100%;
	clear: both;
	height: 10px;
	margin: 1px 0;
}
.form-mini-divider{
	display: block;
	width: 100%;
	clear: both;
	height: 1px;
	margin: 5px 0;
}
.form-label-divider{
	display: block;
	width: 100%;
	clear: both;
	height: 1px;
	background-color: rgb(22, 21, 21);
	text-align: center;
	opacity: 0.5;
}
.form-label-divider span{
	position: relative;
	top: -8px;
	font-weight: 700;
	display: inline-block;
	text-decoration-color: #020310;
	background-color: #F5F6F8;
	padding: 0 10px;
}
/*end of part 15----------------------------------------------------*/



/*-------------------------------------------------------------------
[16. Posts]
*------------------------------------------------------------------*/
.post-item{
	width: 100%;
	border-radius: 3px;
	background-color: #FFF;
	min-height: 100px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.post-item .post-asset{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;
}
.post-item .post-asset.image img{
	display: block;
	width: 100%;
}
.post-item .post-asset.video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.post-item .post-asset.video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.post-item .post-header{
	padding: 15px;
	border-bottom: solid 1px #EEE;
}
.post-item .post-title{
	font-size: 18px;
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
	color: #333;
}
.post-item .post-title a{
	font-size: 18px;
	color: #4c4c4c;
	font-weight: 500;
	line-height: 18px;
}
.post-item .post-header span{
	font-size: 12px;
	margin-right: 10px;
	opacity: 0.6;
}
.post-item .post-footer{
	padding: 10px 15px;
}
.post-item .post-author{
	display: inline-block;
}
.post-item .author-img{
	width: 44px;
	height: 44px;
	display: block;
	float: left;
	overflow: hidden;
	border-radius: 50%;
	padding: 3px;
	background: #FFF;
	border:solid 1px #2eb18d;
	margin-right: 10px;
}
.post-item .author-img img{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.post-item .author-name{
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
}
.post-item .author-name b{
	white-space: nowrap;
	display: block;
	font-size: 14px;
}
.post-item .post-extra{
	display: inline-block;
	float: right;
}
.post-item .post-extra div{
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}
.post-item .post-share{
	position: relative;
	line-height: 40px;
}
.post-item .post-share > i{
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.post-item .post-share .social-links{
	position: absolute;
	z-index: 10;
	top: 0;
	width: auto;
	display: inline-block;
	white-space: nowrap;
	left: -130px;
	width: 130px;
	border:solid 1px #EEE;
	border-radius: 5px;
	background: #FFF;
	display: none;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.post-item .post-share .social-links a{
	font-size: 18px;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	position: relative;
	float: left;
}
.post-item .post-share .social-links a.share-facebook{
	color: #2C6EBC;
}
.post-item .post-share .social-links a.share-whatsapp{
	color: #73ee54;
}
.post-item .post-share .social-links a.share-instagram{
	color: #f051e2;
}
.post-item .post-share .social-links a.share-youtube{
	color: #D24C41;
}
.post-detail{
	background: #FFF;
	padding: 10px;
	border-top:solid 1px #EEE;
}
.post-detail p{
	margin: 0;
	margin-bottom: 10px;
}
.post-detail h1, .post-detail h2, .post-detail h3, .post-detail h4, .post-detail h5 .post-detail h6{
	font-weight: 900;
}
.post-comments{
	margin-top: 10px;
}
.post-comments ul{
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-comments ul li{	
	display: block;
	width: 100%;
}
.post-comments > ul > li li{
	padding-left: 20px;
}
.post-comments ul li .comment-container{
	background-color: #FFF;
	padding: 10px;
	margin: 10px;
}
.post-comments.no-padding{
	margin-top:0;
}
.post-comments.no-padding ul li .comment-container{
	margin: 0;
	margin-bottom: 10px;
}
.post-comments .comment-header{
	position: relative;
	border-bottom: solid 1px #EEE;
	overflow: hidden;
	padding-bottom: 10px;
}
.post-comments .user-image{
	display: block;
	width: 38px;
	height: 38px;
	border:solid 1px #2eb18d;
	border-radius: 50%;
	float: left;
	padding: 2px;
	margin-right: 10px;
}
.post-comments .user-image img{
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.post-comments .user-name{
	display: inline-block;
	float: left;
	line-height: 38px;
	font-weight: 700;
}
.post-comments .comment-date{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
	opacity: 0.6;
}
.post-comments .comment-content{
	padding-top: 10px;
	opacity: 0.7;
}
.post-comments .comment-post-link{
	border-bottom:solid 1px #EEE;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.post-comments .comment-post-link a{
	color: #2eb18d;
	font-weight: 700;
}

.news-list-item{
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	background-color: #FFF;
	border: 1px solid #eee;
	min-height: 30px;
	border-radius: 3px;
	position: relative;
}
.news-list-item.v2{
	padding: 10px;
	border-radius: 10px
}
.news-list-item.no-image .list-content{
	padding-left: 10px;
	height: auto;
}
.news-list-item.no-image .list-title{
	height: auto;
}
.news-list-item .list-image{
	width: 100px;
	height: 100px;
	position: absolute;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
	float: left;
}
.news-list-item .list-content{
	height: 100px;
	position: relative;
	padding: 10px 10px 10px 110px;
}
.news-list-item .list-category{
	font-size: 12px;
	display: inline-block;
	padding: 3px 10px;
	color: #FFF;
	border-radius: 10px;
	margin-bottom: 6px;
}
.news-list-item .list-title{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	height: 32px;
	
}

.news-list-item.v2 .list-title{
	height: initial;
}
.news-list-item .list-author, .news-list-item .list-time{
	font-size: 12px;
	opacity: 0.6;
}
.news-list-item.v2 .read-more{
	color: #2eb18d
}
.news-list-item.v2 .list-time{
	margin: 5px 0;
}
.news-list-item .list-author{
	font-weight: 700;
}
/*end of part 16----------------------------------------------------*/



/*-------------------------------------------------------------------
[17. Profile Page]
*------------------------------------------------------------------*/
.profile-image{
	width: 110px;
	height: 110px;
	padding: 5px;
	border-radius: 50%;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	position: relative;
}
.profile-image .avatar-img{
}
.profile-image .update-btn{
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	background-color: #fff;
	right: 0;
	bottom: 0;
	text-align: center;
	line-height: 32px;
}
/*end of part 17----------------------------------------------------*/



/*-------------------------------------------------------------------
[18. Post Author Page]
*------------------------------------------------------------------*/
.author-item .author-bg{
	width: 100%;
	height: auto;
	background: url('../img/avatar-bg.jpg') right center;
	position: relative;
	background-size: cover;
	background-position-y:-50px;
}
.author-item .author-bg-inline{
	width: 100%;
	background-color: rgba(14, 14, 14, 0.1);
	padding: 60px 0 20px 0;
}
.author-item .author-avatar{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
	display: block;
	margin: 0 auto;

}
.author-item .author-avatar img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.author-item .author-name{
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	font-weight: 900;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}
.author-item .author-desc{
	display: block;
	text-align: center;
	color: #fff;
	margin:0;
	font-size: 14px;
}
.author-item .author-number{
	overflow: hidden;
	color: rgba(255,255,255,0.6);
	text-align: center;
	margin-top: 40px;
}
.author-item .author-number > div{
	width: 33%;
	float: left;
}
.author-item .author-number > div > span{
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: #FFF;
}
/*end of part 18----------------------------------------------------*/



/*-------------------------------------------------------------------
[19. Gallery and Album]
*------------------------------------------------------------------*/
.album-item{
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
	margin-bottom: 10px;
	display: block;
}
.album-item:focus, .album-item:hover{
	color: #35d9ac;
}
.album-item:focus .album-image:before, .album-item:hover .album-image:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 9;
}
.album-item .album-image{
	height: 140px;
	width: 100%;
	overflow: hidden;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	position: relative;
}
.album-item .album-image img{
	position: absolute;
	top: -9999px;
	right: -9999px;
	bottom: -9999px;
	left: -9999px;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
}

.album-item .album-info{
	padding: 10px;
	position: relative;
}
.album-item .album-title{
	margin: 0;
	padding: 0;
}
.album-item .image-count{
	font-size: 12px;
	opacity: 0.6;
	float: right;
	position: absolute;
	right: 10px;
	top: 10px;
}
.album-item.half-box .album-image{
	height: 100px;
}
.album-item.half-box{
	width: 49%;
}
.album-item.half-box:nth-child(odd){
	float: left;
}

.album-item.half-box:nth-child(even){
	float: right;
}
.album-item.half-box .image-count{
	position: relative;
	display: block;
	float: none;
	top: inherit;
	right: inherit;
}
.gallery-item{
	display: block;
	position: relative;
	overflow: hidden;
	height: 140px;
	border-radius: 3px;
	cursor: pointer;
}
.gallery-item.half-box{
	width: 50%;
	float: left;
	margin-bottom: 0;
}
.gallery-item img{
	position: absolute;
	top: -9999px;
	right: -9999px;
	bottom: -9999px;
	left: -9999px;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
}
.gallery-item .image-name{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	z-index: 9;
	color: #FFF;
	background: rgba(135,135,135,0);
	background: -moz-linear-gradient(top, rgba(135,135,135,0) 0%, rgba(51,51,51,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,135,135,0)), color-stop(100%, rgba(51,51,51,1)));
	background: -webkit-linear-gradient(top, rgba(135,135,135,0) 0%, rgba(51,51,51,1) 100%);
	background: -o-linear-gradient(top, rgba(135,135,135,0) 0%, rgba(51,51,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,135,135,0) 0%, rgba(51,51,51,1) 100%);
	background: linear-gradient(to bottom, rgba(135,135,135,0) 0%, rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#333333', GradientType=0 );
}
.gallery-item .image-name b{
	position: absolute;
	display: block;
	bottom: 10px;
	left: 10px;
}
.gallery-item .image-name i{
	position: absolute;
	font-size: 18px;
	right: 10px;
	bottom: 10px;
}
.gallery-item:hover .image-name, .gallery-item:focus .image-name{
	top: 0;
	background: rgba(0,0,0,0.4);
}
/*end of part 19----------------------------------------------------*/



/*-------------------------------------------------------------------
[20. Contact]
*------------------------------------------------------------------*/
.map_container{
	position: relative;
	left: 0;
	right: 0;
	top: -10px;
	width: 100%;
	height: 300px;
}
.contact-info{
	background-color: #FFF;
	margin: 0 10px 10px;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.contact-info .address-name{
	margin: 6px 0;
	padding: 0;
}
.contact-info .contact-stars{
	opacity: 0.6;
}
.contact-info .address{
	padding: 0;
	margin: 0;
}
.contact-short-info{
	background-color: #FFF;
	padding: 10px;
	margin: 10px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.contact-short-info .title{
	margin: 0;
}
.contact-address{
	background-color: #FFF;
	margin: 10px;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.contact-address .contact-item{
	margin-bottom: 6px;
}
.contact-address .contact-item i{
	display: inline-block;
	width: 20px;
}
/*end of part 20----------------------------------------------------*/



/*-------------------------------------------------------------------
[21. Product Pages]
*------------------------------------------------------------------*/
.courses-list{
	margin-bottom: 30px
}
.courses-list li{
	background: #fff;
    padding: 10px;
    border: 1px solid #ddd; 
    position: relative;
    margin: 0 0 10px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.04);
}
.courses-name{
	margin: 0;
	font-weight: 600;
	font-size: 13px
}
.c-period{
	color: #828caa;
    margin-top: 10px;
    display: inherit;
}
.c-price{
	font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.courses-list img{
	max-width: 70px
}
.course-item{
	width: 73%;
    margin-right: 10px;
}
.ml-10{margin-left: 10px}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.d-block {
    display: block!important;
}
.product-two-column .product-item{
	display: block;
	width: 50%;
	float: left;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.product-two-column .product-item.v2{
	display: block;
    width: 48%;
    background: #fff;
    float: left;
    border: 1px solid #e1ddf6;
    border-radius: 5px;
}
.product-item.v2 > a{
	box-shadow: none;
}
.product-item{
	display: block;
	width: 100%;
	position: relative;
}
.product-item > a{
	display: block;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
}
.product-item .product-title{
	display: block;
	margin:0;
	padding: 0;
	font-size: 14px;
	padding: 10px 10px 0;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    color: #13287e;
    font-weight: 700;
}
.c-review{
	padding: 10px;
	color: #fbc20e;
	display: inline-block;
	font-size: 15px
}
.title-main{
	margin:10px 0px;
	font-size: 16px;
}
.product-item .product-image{
	display: block;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.product-item .product-info{
	display: block;
	border-top: 1px solid #eee;
    padding: 5px 10px 10px 10px;
    font-weight: 800;
}
.product-item .product-price{
	font-size: 12px;
	line-height: 30px;
}
.product-item .add-to-chart{
	border:none;
	border-radius: 3px;
	color: #FFF;
	font-size: 12px;
	line-height: 18px;
	float: right;
}
.product-item .old-price{
	opacity: 0.7;
	margin-left: 10px;
	text-decoration: line-through;
}
.product-item .add-to-favorite{
	position: absolute;
	right: 15px;
	top: 10px;
	color: #2eb18d;
	font-size: 20px;
	cursor: pointer;
}
.product-viewer .view-item{
	padding: 10px;
}

.product-viewer .view-item img{
	display: block;
	margin:0 auto;
	max-width: 100%;
	padding: 10px;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.product-view-title{
	text-align: center;
	margin: 0;
}
.product-view-price{
	margin: 0;
	text-align: center;
}
.product-view-price .old-price{
	opacity: 0.5;
	font-weight: 400;
	text-decoration: line-through;
}
.c-fav{
	background: #dad5fe;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}.c-fav.v2{
	color: #dad5fe;
	background: #fff;
	border: 2px solid #dad5fe
}
.pdf-doc{
	padding: 20px 0px;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(255,255,255,.5);
    border-radius: 10px;
}
.has-l-p{
	border-left: 4px solid #fecdd0
}
.assign-txt{
	color: #ff7166;
    margin-top: 0;
    font-weight: 600;
}
.profile-bg{
	background: #22427d
}
.exp{
	width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.exp span{font-weight: normal;font-size: 14px}
.opacity-bg{
	background: rgba(255,255,255,.5)
}
.student-name{
	background: rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 40px 15px 20px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.student-name h3{
	margin: 0;
	margin-bottom: 10px;
	color: #fff;
	font-size: 20px 
}
.student-name p{
	margin: 0;
	color: #e2e9ef
}
.student-name .star-icon{
	position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: #c9d1d4;
    line-height: 36px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.wd-80 {
    width: 80%;
}
.wd-100{
	width: 100%
}
.progress {
    display: flex;
    overflow: visible;
    font-size: 0.65625rem;
    background-color: #dde2ef;
    border-radius: 3px;
    height: 6px;
    margin-top: 15px
}
.progress-bar{
	float: left;
	height: 100%;
	position: relative;
	font-size: 12px;
	border-radius: 20px !important;
	line-height: 20px;
	overflow: visible !important;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.progress-bar::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 3px solid;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: absolute;
    right: -5px;
    top: -6px;
}
.progress-bar.gradient-blue::after{
	border-color: #0162e8
}
.progress-bar.gradient-orange::after{
	border-color: #efa65f
}
.progress-bar.gradient-red::after{
	border-color: #f93a5a
}
.progress-bar.gradient-purple::after{
	border-color: #673ab7
}
.gradient-blue{
	background-image: linear-gradient(to left, #0db2de 0%, #005bea 100%) !important;
}
.gradient-orange{
	background-image: linear-gradient(to left, #efa65f, #f76a2d) !important;
}
.gradient-red{
	background-image: linear-gradient(45deg, #f93a5a, #f7778c) !important;
}
.gradient-purple{
	background-image: linear-gradient(to right, #673ab7 0%, #a474f4 100%) !important;
}
.overflow-h{
	overflow: hidden;
}
.st-fact-item{
	background: rgba(255,255,255,.2);
	padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 30px
}
.st-fact{
	color: #fff;
	font-size: 15px;
	line-height: 1;
	margin: 0 0 10px;
}
.cart-btn{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ececec;
	float: right;
	border: 0px;
	border-radius: 25px;
	font-size: 14px;
	margin-top: 2px;
	color: #2eb18d;
}
.product-size{
	margin: 10px auto;
	width: 300px;
}
.product-size li{
	list-style-type: none;
	float: left;
	margin: 0px 10px;
	
}
.product-size li a{
	text-align: center;
	border-radius: 50%;
	border: 1px solid #2eb18d;
	float: left;
	width: 50px;
    height: 50px;
    line-height: 50px;
    color: #2eb18d;
}
.product-size li a:hover{
	border: 1px solid #ccc;
}
.product-size li.active a{
	background:#2eb18d;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #2eb18d;
	float: left;
	width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff !important; 
}
/*end of part 21----------------------------------------------------*/



/*-------------------------------------------------------------------
[22. Panel]
*------------------------------------------------------------------*/
.panel{
	padding: 10px;
	background-color: #FFF;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.1);
}
.panel .title{
	margin: 0;
	padding: 0;
}
/*end of part 22----------------------------------------------------*/



/*-------------------------------------------------------------------
[23. Bouble Menu]
*------------------------------------------------------------------*/
.bouble-link{
	position: fixed;
	z-index: 777;
	display: block;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	bottom: 30px;
	right: 30px;
	line-height: 46px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.2);
	font-size: 18px;
}
/*end of part 23----------------------------------------------------*/



/*-------------------------------------------------------------------
[24. Page Loader]
*------------------------------------------------------------------*/


.sweet-loader{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000000;
	background-color: rgba(255,255,255,0.9);
	display: none;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	  -moz-transition: opacity .3s ease-in-out;
	    -o-transition: opacity .3s ease-in-out;
	      transition: opacity .3s ease-in-out;

}
.sweet-loader.show{
	display: block;
	opacity: 1;
}

.sweet-loader.show .box {
  width: 70px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top:-12px;
  left: 50%;
  margin-left: -35px;
}

.sweet-loader.show .box > div {
  width: 18px;
  height: 18px;
  background-color: #278b71;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.sweet-loader.show .box .circle1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.sweet-loader.show .box .circle2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*end of part 24----------------------------------------------------*/



/*-------------------------------------------------------------------
[25. Responsive Media Queries]
*------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
    body {
       	font-size: 16px;
    }
    header{
    	padding: 10px 20px;
    }
    section.container{
		padding: 0 20px;
	}
	nav.menu{
		width: 300px;
	}
	.form-label-divider span{
		top: -10px;
	}
	.post-detail{
		padding: 20px;
	}
	.search-result-header{
		margin: -10px -20px 20px -20px;
	}
	.search-result-header .form-element{
		padding: 0 20px;
	}
	.search-result-header .search-result-btn{
		right: 10px;
	}
	h1 .button{
		font-size: 16px;
	}
}
/*end of part 25----------------------------------------------------*/



/*------------------------------------------------------------------
[26. Background Color Helpers]

Orange 	/	.orange			#2eb18d
Red 	/ 	.red			#F34954
Purple	/	.purple			#7A5AAD
Turquoise/	.turquoise	 	#30BFBB
Green 	/	.green			#27AE61
Blue 	/	.blue			#2A80BB
Yellow 	/	.yellow			#CCA000
White 	/	.white			#FFFFFF
-------------------------------------------------------------------*/
.orange{
	background-color: #2eb18d;
}
.red{
	background-color: #F34954;
}
.purple{
	background-color: #7A5AAD;
}
.turquoise{
	background-color: #30BFBB;
}
.green{
	background-color: #27AE61;
}
.blue{
	background-color: #2A80BB;
}
.yellow{
	background-color: #CCA000;
}
.white{
	background-color: #FFFFFF;
	color: #464646;
}
/*end of part 26----------------------------------------------------*/



/*-------------------------------------------------------------------
[27. Text Helpers]
*------------------------------------------------------------------*/
.txt-center{
	text-align: center;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.txt-orange{
	color: #fbc20e;
}
.txt-red{
	color: #F34954;
}
.txt-purple{
	color: #7A5AAD;
}
.txt-turquoise{
	color: #30BFBB;
}
.txt-green{
	color: #2eb18d;
}
.txt-blue{
	color: #2A80BB;
}
.txt-yellow{
	color: #CCA000;
}
.txt-default{
	color: #464646;
}
.txt-white{
	color: #FFFFFF;
}
.txt-bold{
	font-weight: bold;
	font-weight: 700;
}
.txt-extra-bold{
	font-weight: bold;
	font-weight: 900;
}
.txt-normal{
	font-weight: normal;
	font-weight: 400;
}
.txt-light{
	font-weight: lighter;
	font-weight: 300;
}
/*end of part 27----------------------------------------------------*/



/*-------------------------------------------------------------------
[28. Text Animations]
*------------------------------------------------------------------*/
.animated-text{
	text-align: center;
	position: relative;
}
.animated-text h1{
	margin: 0;
	padding: 0;
	position: relative;
}
.animated-text .text1{
	font-size: 24px;
	display: block;
}
.animated-text .text2{
	font-size: 14px;
}
.animated-text .text3{
	display: block;
	font-size: 14px;
}
.animated-text .text4{
	display: block;
	font-size: 36px;
}
.animated-text .text5{
	display: block;
	font-size: 36px;
}
.animated-text .text6{
	display: block;
	font-size: 36px;
}
.animated-text .text7{
	font-size: 14px;
	display: block;
	margin-top: 20px;
}
/*end of part 28----------------------------------------------------*/




/*Other Styles and helpers------------------------------------------*/
.block{
	display: block;
}
.hide{
	display: none !important;
}
.animated{
	display: block !important;
	opacity: 1;
}
.zero-opacity{
	opacity: 0;
}

h1 .button{
	font-size: 14px;
}

/*-------------------------------------------------------------------
[29. CUSTOMIZE THE CAROUSEL]
*------------------------------------------------------------------*/



/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 218px;
  width: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
.margin{
	margin-top: 49px;
}
/*end of part 28----------------------------------------------------*/


/*-------------------------------------------------------------------
[30. Home Tabs]
*------------------------------------------------------------------*/

#content-body {  
  flex:1;
  min-height:170px;
  padding-top:10px;
  padding-bottom:10px;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: 10px 0px 10px 0px;
}
.round{
	border-radius: 19px;
background: #f7c558; /* Old browsers */
background: -moz-linear-gradient(top, #f7c558 0%, #e26f25 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f7c558 0%,#e26f25 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f7c558 0%,#e26f25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c558', endColorstr='#e26f25',GradientType=0 ); /* IE6-9 */
padding: 15px;
}
.app{
background: #f76b71; /* Old browsers */
background: -moz-linear-gradient(top, #f76b71 1%, #de2125 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f76b71 1%,#de2125 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f76b71 1%,#de2125 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76b71', endColorstr='#de2125',GradientType=0 ); /* IE6-9 */
	border-radius: 19px;
	padding: 15px;
}
.hot{
background: #70b2fe; /* Old browsers */
background: -moz-linear-gradient(top, #70b2fe 0%, #3378f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #70b2fe 0%,#3378f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #70b2fe 0%,#3378f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b2fe', endColorstr='#3378f7',GradientType=0 ); /* IE6-9 */
	border-radius: 19px;
	padding: 15px;
}
.vip{
background: #9f6dfe; /* Old browsers */
background: -moz-linear-gradient(top, #9f6dfe 0%, #6a1ff4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9f6dfe 0%,#6a1ff4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9f6dfe 0%,#6a1ff4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f6dfe', endColorstr='#6a1ff4',GradientType=0 ); /* IE6-9 */
	border-radius: 19px;
	padding: 15px;
}
.brands{
background: #7ff0f1; /* Old browsers */
background: -moz-linear-gradient(top, #7ff0f1 0%, #39b4fe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7ff0f1 0%,#39b4fe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7ff0f1 0%,#39b4fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ff0f1', endColorstr='#39b4fe',GradientType=0 ); /* IE6-9 */
	border-radius: 19px;
	padding: 15px;
}
.flash{
background: #c5f493; /* Old browsers */
background: -moz-linear-gradient(top, #c5f493 0%, #97ea3b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c5f493 0%,#97ea3b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c5f493 0%,#97ea3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5f493', endColorstr='#97ea3b',GradientType=0 ); /* IE6-9 */
	border-radius: 19px;
	padding: 15px;
}

.content-row {  
  display:flex;
  flex:1;  
}
.content-col {  
  padding:7px;
  width:33.33%;
  text-align:center;  
  padding-right:17px;
  font-size:14px;
  float: left;
  clear: both;
}
.content-col:last-child {
  border-right: none;
}
.content-row:last-child {
  border-bottom:none;  
}
.content-col>i {
  width:55px;

  font-size:25px;  
  color: #fff;
  margin-bottom:10px;
}
.content-col span{
	display: block;
}

/*end of part 30----------------------------------------------------*/

/*-------------------------------------------------------------------
[31. Home Tabs]
*------------------------------------------------------------------*/

footer {
    padding: 30px 0 8px;
    text-align: center;
    background-color: #fff;
}

footer ul,
.social-links ul {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 18px;
}
footer ul li,
.social-links ul li{
    display: inline-block;
    margin: 2px 4px;
    text-align: center;
}
footer ul li a i,
.social-links ul li a i {
    background: #f7f7f7;
    width: 35px;
    height: 35px;
    line-height: 35px !important;
    border-radius: 50%;
}
.social-links ul{
	margin-bottom: 0;
	border: none;
	padding: 0
}
.social-links{
	text-align: left;
	margin-top: 25px;
}
.social-links ul li a i{
	border: 1px solid #ddd
}
/*end of part 31----------------------------------------------------*/

/*-------------------------------------------------------------------
[31. Table]
*------------------------------------------------------------------*/

/* Table */

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	}
	
	.table th,
	.table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	}
	
	.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	}
	
	.table tbody + tbody {
	border-top: 2px solid #dee2e6;
	}
	
	.table-sm th,
	.table-sm td {
	padding: 0.3rem;
	}
	
	.table-bordered {
	border: 1px solid #dee2e6;
	}
	
	.table-bordered th,
	.table-bordered td {
	border: 1px solid #dee2e6;
	}
	
	.table-bordered thead th,
	.table-bordered thead td {
	border-bottom-width: 2px;
	}
	
	.table-borderless th,
	.table-borderless td,
	.table-borderless thead th,
	.table-borderless tbody + tbody {
	border: 0;
	}
	
	.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
	}
	
	.table-hover tbody tr:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, 0.075);
	}
	
	.table-primary,
	.table-primary > th,
	.table-primary > td {
	background-color: #b8daff;
	}
	
	.table-primary th,
	.table-primary td,
	.table-primary thead th,
	.table-primary tbody + tbody {
	border-color: #7abaff;
	}
	
	.table-hover .table-primary:hover {
	background-color: #9fcdff;
	}
	
	.table-hover .table-primary:hover > td,
	.table-hover .table-primary:hover > th {
	background-color: #9fcdff;
	}
	
	.table-secondary,
	.table-secondary > th,
	.table-secondary > td {
	background-color: #d6d8db;
	}
	
	.table-secondary th,
	.table-secondary td,
	.table-secondary thead th,
	.table-secondary tbody + tbody {
	border-color: #b3b7bb;
	}
	
	.table-hover .table-secondary:hover {
	background-color: #c8cbcf;
	}
	
	.table-hover .table-secondary:hover > td,
	.table-hover .table-secondary:hover > th {
	background-color: #c8cbcf;
	}
	
	.table-success,
	.table-success > th,
	.table-success > td {
	background-color: #c3e6cb;
	}
	
	.table-success th,
	.table-success td,
	.table-success thead th,
	.table-success tbody + tbody {
	border-color: #8fd19e;
	}
	
	.table-hover .table-success:hover {
	background-color: #b1dfbb;
	}
	
	.table-hover .table-success:hover > td,
	.table-hover .table-success:hover > th {
	background-color: #b1dfbb;
	}
	
	.table-info,
	.table-info > th,
	.table-info > td {
	background-color: #bee5eb;
	}
	
	.table-info th,
	.table-info td,
	.table-info thead th,
	.table-info tbody + tbody {
	border-color: #86cfda;
	}
	
	.table-hover .table-info:hover {
	background-color: #abdde5;
	}
	
	.table-hover .table-info:hover > td,
	.table-hover .table-info:hover > th {
	background-color: #abdde5;
	}
	
	.table-warning,
	.table-warning > th,
	.table-warning > td {
	background-color: #ffeeba;
	}
	
	.table-warning th,
	.table-warning td,
	.table-warning thead th,
	.table-warning tbody + tbody {
	border-color: #ffdf7e;
	}
	
	.table-hover .table-warning:hover {
	background-color: #ffe8a1;
	}
	
	.table-hover .table-warning:hover > td,
	.table-hover .table-warning:hover > th {
	background-color: #ffe8a1;
	}
	
	.table-danger,
	.table-danger > th,
	.table-danger > td {
	background-color: #f5c6cb;
	}
	
	.table-danger th,
	.table-danger td,
	.table-danger thead th,
	.table-danger tbody + tbody {
	border-color: #ed969e;
	}
	
	.table-hover .table-danger:hover {
	background-color: #f1b0b7;
	}
	
	.table-hover .table-danger:hover > td,
	.table-hover .table-danger:hover > th {
	background-color: #f1b0b7;
	}
	
	.table-light,
	.table-light > th,
	.table-light > td {
	background-color: #fdfdfe;
	}
	
	.table-light th,
	.table-light td,
	.table-light thead th,
	.table-light tbody + tbody {
	border-color: #fbfcfc;
	}
	
	.table-hover .table-light:hover {
	background-color: #ececf6;
	}
	
	.table-hover .table-light:hover > td,
	.table-hover .table-light:hover > th {
	background-color: #ececf6;
	}
	
	.table-dark,
	.table-dark > th,
	.table-dark > td {
	background-color: #c6c8ca;
	}
	
	.table-dark th,
	.table-dark td,
	.table-dark thead th,
	.table-dark tbody + tbody {
	border-color: #95999c;
	}
	
	.table-hover .table-dark:hover {
	background-color: #b9bbbe;
	}
	
	.table-hover .table-dark:hover > td,
	.table-hover .table-dark:hover > th {
	background-color: #b9bbbe;
	}
	
	.table-active,
	.table-active > th,
	.table-active > td {
	background-color: rgba(0, 0, 0, 0.075);
	}
	
	.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075);
	}
	
	.table-hover .table-active:hover > td,
	.table-hover .table-active:hover > th {
	background-color: rgba(0, 0, 0, 0.075);
	}
	
	.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;
	}
	
	.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
	}
	
	.table-dark {
	color: #fff;
	background-color: #343a40;
	}
	
	.table-dark th,
	.table-dark td,
	.table-dark thead th {
	border-color: #454d55;
	}
	
	.table-dark.table-bordered {
	border: 0;
	}
	
	.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05);
	}
	
	.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.075);
	}
	
	@media (max-width: 575.98px) {
	.table-responsive-sm {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	}
	.table-responsive-sm > .table-bordered {
	border: 0;
	}
	}
	
	@media (max-width: 767.98px) {
	.table-responsive-md {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	}
	.table-responsive-md > .table-bordered {
	border: 0;
	}
	}
	
	@media (max-width: 991.98px) {
	.table-responsive-lg {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	}
	.table-responsive-lg > .table-bordered {
	border: 0;
	}
	}
	
	@media (max-width: 1199.98px) {
	.table-responsive-xl {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	}
	.table-responsive-xl > .table-bordered {
	border: 0;
	}
	}
	
	.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	}
	
	.table-responsive > .table-bordered {
	border: 0;
	}
	
	.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	}
	
	.table-responsive > .table-bordered {
	border: 0;
	}
/*-------------------------------------------------------------------
[32. Form Login]
*------------------------------------------------------------------*/
body{
	margin:0;
	color:#6a6f8c;
	background:#e9e9e9;
	/* font:600 16px/18px 'Open Sans',sans-serif; */
	font:600 16px/18px Nunito;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:900px;
	position: relative;
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgb(249, 250, 250);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:rgb(20, 20, 20);
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:rgb(238, 238, 238);
	display:block;
	word-wrap: break-word;
	word-break:break-all;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:#37cc29;
}
#sekolahaddress{
	border:none;
	padding:30px 20px;
	border-radius:25px;
	background:#37cc39;
}
  /* .input100 {
	border:none;
	padding:30px 20px;
	border-radius:25px;
	background:#37cc29;
	font-size: 14px;
	width: 100%;
	resize: vertical;
	word-wrap: break-word;
  } */
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group input[data-type="text"]{
	color: rgb(105, 104, 104);
}
.login-form .group .label{
	color:rgb(29, 29, 29);
	font-size:14px;
}
.login-form .group .button{
	background:#1b345f;
}

.login-form .group .button .red{
	background:#dd423d;
}

.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(49, 49, 49, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:50px 0 30px 0;
	background:rgba(70, 69, 69, 0.541);
}
.foot-lnk{
	text-align:center;
}
/*-------------------------------------------------------------------
[33. Alert]
*------------------------------------------------------------------*/

.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
  }
  
  .alert-heading {
	color: inherit;
  }
  
  .alert-link {
	font-weight: 700;
  }
  
  .alert-dismissible {
	padding-right: 4rem;
  }
  
  .alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75rem 1.25rem;
	color: inherit;
  }
  
  .alert-primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
  }
  
  .alert-primary hr {
	border-top-color: #9fcdff;
  }
  
  .alert-primary .alert-link {
	color: #002752;
  }
  
  .alert-secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
  }
  
  .alert-secondary hr {
	border-top-color: #c8cbcf;
  }
  
  .alert-secondary .alert-link {
	color: #202326;
  }
  
  .alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
  }
  
  .alert-success hr {
	border-top-color: #b1dfbb;
  }
  
  .alert-success .alert-link {
	color: #0b2e13;
  }
  
  .alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
  }
  
  .alert-info hr {
	border-top-color: #abdde5;
  }
  
  .alert-info .alert-link {
	color: #062c33;
  }
  
  .alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
  }
  
  .alert-warning hr {
	border-top-color: #ffe8a1;
  }
  
  .alert-warning .alert-link {
	color: #533f03;
  }
  
  .alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
  }
  
  .alert-danger hr {
	border-top-color: #f1b0b7;
  }
  
  .alert-danger .alert-link {
	color: #491217;
  }
  
  .alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
  }
  
  .alert-light hr {
	border-top-color: #ececf6;
  }
  
  .alert-light .alert-link {
	color: #686868;
  }
  
  .alert-dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
  }
  
  .alert-dark hr {
	border-top-color: #b9bbbe;
  }
  
  .alert-dark .alert-link {
	color: #040505;
  }
/*-------------------------------------------------------------------
[34. DataTable]
*------------------------------------------------------------------*/
table.dataTable {
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
	border-collapse: separate !important;
	border-spacing: 0
}

table.dataTable td,
table.dataTable th {
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
	text-align: center
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
	width: auto;
	display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
	text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
	margin-left: .5em;
	display: inline-block;
	width: auto
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: .85em
}

div.dataTables_wrapper div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	justify-content: flex-end
}

div.dataTables_wrapper div.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	margin-top: -26px;
	text-align: center;
	padding: 1em 0
}

table.dataTable>thead>tr>th:active,
table.dataTable>thead>tr>td:active {
	outline: none
}

table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled) {
	padding-right: 30px
}

table.dataTable>thead .sorting,
table.dataTable>thead .sorting_asc,
table.dataTable>thead .sorting_desc,
table.dataTable>thead .sorting_asc_disabled,
table.dataTable>thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative
}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:after {
	position: absolute;
	bottom: .9em;
	display: block;
	opacity: .3
}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before {
	right: 1em;
	content: "↑"
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after {
	right: .5em;
	content: "↓"
}

table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:after {
	opacity: 1
}

table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:after {
	opacity: 0
}

div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
	display: none
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
	border-top: none
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner {
	box-sizing: content-box
}

div.dataTables_scrollFoot>.dataTables_scrollFootInner>table {
	margin-top: 0 !important;
	border-top: none
}

@media screen and (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_length,
	div.dataTables_wrapper div.dataTables_filter,
	div.dataTables_wrapper div.dataTables_info,
	div.dataTables_wrapper div.dataTables_paginate {
		text-align: center
	}
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		justify-content: center !important
	}
}

table.dataTable.table-sm>thead>tr>th:not(.sorting_disabled) {
	padding-right: 20px
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
	top: 5px;
	right: .85em
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
	top: 5px
}

table.table-bordered.dataTable {
	border-right-width: 0
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
	border-left-width: 0
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
	border-right-width: 1px
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
	border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
	margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child {
	padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child {
	padding-right: 0
}





