<!DOCTYPE html>
<html lang="en" class="link-html">
    <head>
        <title>E-Pesantren</title>
        <!-- <base href="https://demo.epesantren.co.id/apk/"> -->
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        
                    <link href="https://demo.epesantren.co.id/apk/image/ep-logo.png" rel="shortcut icon" />
        
        
                    <link href="cssapk/bootstrap.min.css?v=740" rel="stylesheet" media="screen">
                    <link href="cssapk/custom.css?v=740" rel="stylesheet" media="screen">
                    <link href="cssapk/link-custom.css?v=740" rel="stylesheet" media="screen">
                    <link href="cssapk/animate.min.css?v=740" rel="stylesheet" media="screen">
        
                                <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
            <style>
                body {
                    font-family: 'Lato', sans-serif !important;
                }
            </style>
        
        
        
        <link rel="canonical" href="https://demo.epesantren.co.id/apk/" />
    </head>

    
<body class="link-body " style="background: url('imageapk/bg.png');">
    <div class="container animated fadeIn">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-8 link-content">

                
                <header class="d-flex flex-column align-items-center" style="color: #fff">
                    <img id="image" src="imageapk/ep-logo.png" alt="Avatar" class="link-image"  />

                    <div class="d-flex flex-row align-items-center mt-4">
                        <h1 id="title"> </h1>

                                            </div>

                    <p id="description"></p>
                </header>

                <main id="links" class="mt-4">

                                            
                            
                            <div data-link-id="537">
                                
<div class="my-3">
    <a href="informasi.php" data-location-url="HfkJTIB0O9" class="btn btn-block btn-primary link-btn link-btn-rounded animated infinite false delay-2s" style="background: #FFFFFF;color: #000">

                    <i class="empty mr-1"></i>
        
        Informasi    </a>
</div>


                            </div>

                        
                            
                            <div data-link-id="554">
                                
<div class="my-3">
    <a href="psb.php" data-location-url="hJJAWBn4c1" class="btn btn-block btn-primary link-btn link-btn-rounded animated infinite false delay-2s" style="background: #FFFFFF;color: #000">

                    <i class="empty mr-1"></i>
        
        PSB 2020    </a>
</div>


                            </div>

                        
                            
                            <div data-link-id="534">
                                
<div class="my-3">
    <a href="galeri.php" data-location-url="oz7Ug1TJE1" class="btn btn-block btn-primary link-btn link-btn-rounded animated infinite false delay-2s" style="background: #fff;color: #000">

        
        Galery Epesantren    </a>
</div>


                            </div>

                        
                            
                            <div data-link-id="522">
                                
<div class="my-3">
    <a href="https://demo.epesantren.co.id/manage" data-location-url="zPppbJvoXh" class="btn btn-block btn-primary link-btn link-btn-rounded animated infinite false delay-2s" style="background: #FFFFFF;color: #000">

                    <i class="empty mr-1"></i>
        
        Login Admin    </a>
</div>


                            </div>

                        
                            
                            <div data-link-id="524">
                                
<div class="my-3">
    <a href="{{ url('/login') }}" data-location-url="fHJtcNRPt4" class="btn btn-block btn-primary link-btn link-btn-rounded animated infinite false delay-2s" style="background: #FFFFFF;color: #000">

                    <i class="empty mr-1"></i>
        
        Login Wali santri    </a>
</div>


                            </div>

                                            
                                        <div id="socials" class="d-flex flex-wrap justify-content-center mt-5">

                                                                                                                                                        
                        <div class="mx-3 mb-3">
                            <a href="https://api.whatsapp.com/send?phone=+6281233640003" target="_blank" data-toggle="tooltip" title="Whatsapp">
                                <i class="fab fa-whatsapp fa-fw fa-2x" style="color: #fff"></i>
                            </a>
                        </div>

                                                                    
                        <div class="mx-3 mb-3">
                            <a href="https://www.facebook.com/ePesantren" target="_blank" data-toggle="tooltip" title="Facebook">
                                <i class="fab fa-facebook fa-fw fa-2x" style="color: #fff"></i>
                            </a>
                        </div>

                                                                                                                
                        <div class="mx-3 mb-3">
                            <a href="https://instagram.com/epesantren" target="_blank" data-toggle="tooltip" title="Instagram">
                                <i class="fab fa-instagram fa-fw fa-2x" style="color: #fff"></i>
                            </a>
                        </div>

                                                                                                                                                            
                        <div class="mx-3 mb-3">
                            <a href="https://www.youtube.com/channel/UCPlSDy9OoyoQm2GnpGfCOOw" target="_blank" data-toggle="tooltip" title="YouTube Channel">
                                <i class="fab fa-youtube fa-fw fa-2x" style="color: #fff"></i>
                            </a>
                        </div>

                                                                                                                                                                                                                            
                    </div>
                    
                </main>

                
                <footer class="link-footer">
                                    </footer>

            </div>
        </div>
    </div>

    </body>






    <input type="hidden" id="url" name="url" value="#" />
    <input type="hidden" name="global_token" value="e62caca46b6ba6edfb5c47aa93d57f8c" />
    <input type="hidden" name="number_decimal_point" value="." />
    <input type="hidden" name="number_thousands_separator" value="," />

            <script src="jsapk/libraries/jquery.min.js?v=740"></script>
            <script src="jsapk/libraries/popper.min.js?v=740"></script>
            <script src="jsapk/libraries/bootstrap.min.js?v=740"></script>
            <script src="jsapk/main.js?v=740"></script>
            <script src="jsapk/functions.js?v=740"></script>
            <script src="jsapk/libraries/fontawesome.min.js?v=740"></script>
    
    <script>
    /* Internal tracking for biolink links */
    $('[data-location-url]').on('click', event => {

        let base_url = $('[name="url"]').val();
        let url = $(event.currentTarget).data('location-url');

        $.ajax(`${base_url}${url}?no_redirect`);
    });
</script>
<script>
    /* Go over all mail buttons to make sure the user can still submit mail */
    $('form[id^="mail_"]').each((index, element) => {
        let link_id = $(element).find('input[name="link_id"]').val();
        let is_converted = localStorage.getItem(`mail_${link_id}`);

        if(is_converted) {
            /* Set the submit button to disabled */
            $(element).find('button[type="submit"]').attr('disabled', 'disabled');
        }
    });
        /* Form handling for mail submissions if any */
    $('form[id^="mail_"]').on('submit', event => {
        let base_url = $('[name="url"]').val();
        let link_id = $(event.currentTarget).find('input[name="link_id"]').val();
        let is_converted = localStorage.getItem(`mail_${link_id}`);

        if(!is_converted) {

            $.ajax({
                type: 'POST',
                url: `${base_url}link-ajax`,
                data: $(event.currentTarget).serialize(),
                success: (data) => {
                    let notification_container = $(event.currentTarget).find('.notification-container');

                    if (data.status == 'error') {
                        notification_container.html('');

                        display_notifications(data.message, 'error', notification_container);
                    } else if (data.status == 'success') {

                        display_notifications(data.message, 'success', notification_container);

                        setTimeout(() => {

                            /* Hide modal */
                            $(event.currentTarget).closest('.modal').modal('hide');

                            /* Remove the notification */
                            notification_container.html('');

                            /* Set the localstorage to mention that the user was converted */
                            localStorage.setItem(`mail_${link_id}`, true);

                            /* Set the submit button to disabled */
                            $(event.currentTarget).find('button[type="submit"]').attr('disabled', 'disabled');

                        }, 1000);

                    }
                },
                dataType: 'json'
            });

        }

        event.preventDefault();
    })
</script>
</html>
