<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Mobile Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">
</head>

<body>
	
	<div class="wrapper">
		
		<div class="wrapper-inline creamy-bg">
			<!-- Page content start -->
			<main>
				<div class="container enterance">

					<div class="text-center">
						<img src="img/logo.png" class="logo-img" alt="">
					</div>

					<div class="form-divider"></div>

					<div class="card-body">
                    <form method="POST" action="{{ route('register') }}">
                        @csrf

						<div class="form-row-group with-icons">
						<div class="form-row no-padding">
							<i class="fa fa-user"></i>
							<input type="text" name="aaa" class="form-element" placeholder="Username">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-envelope"></i>
							<input type="email" name="aaa" class="form-element" placeholder="Email@example.com" >
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-lock"></i>
							<input type="password" name="aaa" class="form-element" placeholder="*********">
						</div>
					</div>
                        <!-- <div class="form-group row mb-0">
                            <div class="form-row">
                                <button type="submit" class="get-started-btn">
                                    {{ __('Sign Up') }}
                                </button>
                            </div>
                        </div> -->
					<div class="form-row">
						<!-- <button type="submit" class="get-started-btn">Sign Up</button> -->
						<a type="submit" class="get-started-btn">Sign Up</a>
					</div>
                    </form>
                </div>

					<!-- <div class="form-row">
						<a href="main.html" class="get-started-btn">Sign Up</a>
					</div> -->

					<div class="form-row txt-center w-text">
						Already have an account? <a href="{{ url('/login') }}" data-loader="show">Login</a>
					</div>

				</div>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>

	
</body>

</html>