<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>Laravel</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">

        <!-- Fontawesome font file css -->
	    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{asset('/jquery-ui/jquery-ui.min.css')}}">

        <!--turbo slider plugin css file -->
        <link rel="stylesheet" type="text/css" href="plugins/turbo-slider/turbo.css">

        <!-- Template global css file. Requared all pages -->
        <link rel="stylesheet" type="text/css" href="css/global.style.css">
        
        <!-- Script -->
        

        <!-- Styles -->
        <!-- <style>
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
        </style> -->
    </head>
    <body>
        <!-- <div class="flex-center position-ref full-height">
            @if (Route::has('login'))
                <div class="top-right links">
                    @auth
                        <a href="{{ url('/home') }}">Home</a>
                    @else
                        <a href="{{ route('login') }}">Login</a>

                        @if (Route::has('register'))
                            <a href="{{ route('register') }}">Register</a>
                        @endif
                    @endauth
                </div>
            @endif

            <div class="content">
                <div class="title m-b-md">
                    Laravel
                </div>

                <div class="links">
                    <a href="https://laravel.com/docs">Docs</a>
                    <a href="https://laracasts.com">Laracasts</a>
                    <a href="https://laravel-news.com">News</a>
                    <a href="https://blog.laravel.com">Blog</a>
                    <a href="https://nova.laravel.com">Nova</a>
                    <a href="https://forge.laravel.com">Forge</a>
                    <a href="https://vapor.laravel.com">Vapor</a>
                    <a href="https://github.com/laravel/laravel">GitHub</a>
                </div>
            </div>
        </div> -->

        <div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">
				<!-- Template logo start -->
				<div class="nav-header">
                    <a href="index.html">
                        <img class="image-round" alt="" src="img/avatar.png">
                        <span>john doe</span>
                        <span>johndoe@example.com</span>
                    </a>
                </div>
				<!-- Template logo end -->
				<!-- Menu navigation start -->
				<div class="nav-container">
                    <ul class="main-menu">
                    	<li class="">
                            <a href="index.html"><img src="img/icons/i1.png" alt=""> Home</a>
                        </li>
                        <li>
                            <a href="about.html"><img src="img/icons/i1.png" alt=""> About Virus</a>
                        </li>
                        <li>
                            <a href="symptoms.html"><img src="img/icons/i1.png" alt=""> Symptoms</a>
                        </li>
                        <li>
                            <a href="prevention.html"><img src="img/icons/i1.png" alt=""> Prevention</a>
                        </li>
                        <li>
							<a href="#"><img src="img/icons/i1.png" alt=""> Shop <span class="fa fa-angle-down"></span></a>
							<ul>
								<li><a href="product-list.html" data-loader="show">Product List</a></li>
								<li><a href="product-detail.html" data-loader="show">Product Detail</a></li>
								<li><a href="product-basket.html" data-loader="show">Basket</a></li>
							</ul>
						</li>
                        <li>
                            <a href="javascript:void(0);"><img src="img/icons/i1.png" alt=""> Login/Register <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="login.html" data-loader="show">Login</a></li>
                                <li><a href="signup.html" data-loader="show">Register</a></li>
                                <li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><img src="img/icons/i1.png" alt=""> Blog <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="post-list-1.html" data-loader="show">List 1</a></li>
                                <li><a href="post-list-2.html" data-loader="show">List 2</a></li>
                                <li><a href="post-detail.html" data-loader="show">Detail</a></li>
                                <li><a href="post-author.html" data-loader="show">Author</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="img/icons/i1.png" alt=""> Wizards <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="wizard-default.html" data-loader="show">Wizard Default</a></li>
                                <li><a href="wizard-fullscreen.html" data-loader="show">Wizard Fullscreen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="forms.html" data-loader="show"><img src="img/icons/i1.png" alt=""> Form Elements</a>
                        </li>
                        <li>
                            <a href="#"><img src="img/icons/i1.png" alt=""> Components <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="tab-bottom.html" data-loader="show">Tab (Bottom)</a></li>
                                <li><a href="tab-top.html" data-loader="show">Tab (Top)</a></li>
                                <li><a href="accordion.html" data-loader="show">Accordion</a></li>
                                <li><a href="popup.html" data-loader="show">Popup Modal</a></li>
                                <li><a href="checkbox-list.html" data-loader="show">Check List</a></li>
                                <li><a href="link-list.html" data-loader="show">Link List</a></li>
                                <li><a href="link-list-two-column.html" data-loader="show">Two Column Links</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><img src="img/icons/i1.png" alt=""> Pages <span class="fa fa-angle-down"></span></a>
                            <ul>
                                <li><a href="profile.html" data-loader="show">User Profile</a></li>
                                <li><a href="search-popup.html" data-loader="show">Search Popup</a></li>
                                <li><a href="search-result.html" data-loader="show">Search Results</a></li>
                                <li><a href="contact.html" data-loader="show">Contact</a></li>
                                <li><a href="blank.html" data-loader="show">Blank Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			
			<!-- Page content start -->
			<main class="no-header mt-0">

				<div class="splash-screen">
                    <div class="get-started-btn-wrapper">
                        <form>
                            <div class="form-group get-started-pesantren g-fixed-pesantren">
                              <label class = " form-control get-started-pesantren">Pilih Pesantren/Sekolah</label>
                                <div class="form-row no-padding">
                                    <input type="text" class="form-element" style="width:100%;" id='kode_search' placeholder="Masukkan ID Sekolah">
                                </div>
                            <br>
                            
                                <div class="form-row no-padding">
                                    <input type="text" class="form-element"  id='sekolahid' readonly>
                                </div>
                                <div class="form-row no-padding">
                                    <input type="text" class="form-element"  id='sekolahaddress' readonly>
                                </div>
                            
                            </div>
                        </form>
                    </div>

					<div class="get-started-btn-wrapper">
						<a href="{{ url('/login') }}" class="get-started-btn g-fixed">Masuk</a>
                    </div>
                </div>

                

			</main>
			<!-- Page content end -->
		</div>
	</div>

        <!-- JQuery library file. requared all pages -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="jquery-ui/jquery-ui.js" type="text/javascript"></script>
        <script src="jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

        <!-- Turbo slider plugin file. requared only wizard pages -->
        <script src="plugins/turbo-slider/turbo.min.js"></script>
        <script src="js/turbo-ini.js"></script>

        <!-- Template global script file. requared all pages -->
        <script src="js/global.script.js"></script>

        <!-- Script -->

        <script type="text/javascript">

        // CSRF Token
        var CSRF_TOKEN = $('meta[name="csrf-token"]').attr('content');
        $(document).ready(function(){

        $( "#kode_search" ).autocomplete({
            source: function( request, response ) {
            // Fetch data
            $.ajax({
                url:"{{ url('/search') }}",
                type: 'post',
                dataType: "json",
                data: {
                _token: CSRF_TOKEN,
                search: request.term
                },
                success: function( data ) {
                response( data );
                }
            });
            },
            select: function (event, ui) {
            // Set selection
            $('#kode_search').val(ui.item.label); // display the selected text
            $('#sekolahid').val(ui.item.nama_sekolah); // save selected id to input
            $('#sekolahaddress').val(ui.item.alamat_sekolah); // save selected id to input
            return false;
            }
        });

        });
        </script>
    </body>
</html>
